div.search
{
        padding-top:50px;
        padding-bottom:200px;
        margin-bottom:0px;
        text-align: center;
}

div.logo
{
        padding-top:0px;
        padding-bottom:0px;
        margin-top:0px;
        margin-bottom:0px;
}

